<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulima.sw.Asesorias">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ulima"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ulima.sw.Asesorias.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listado.ListadoCursosActivity"
            android:parentActivityName="com.ulima.sw.Asesorias.Pedido.GridActivityT" />
        <activity
            android:name="com.ulima.sw.Asesorias.Pedido.GridActivityT"
            android:parentActivityName="com.ulima.sw.Asesorias.Login.LoginActivity" />
        <activity android:name="com.ulima.sw.Asesorias.ingredientes.IngredientesActivity"></activity>
    </application>

</manifest>